form {
  width: 100%;
  background: 0;
}

h1 {
  background: 0;
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  font-family: "Kdam Thmor Pro", sans-serif;
}

h3 {
  color: #fff;
  background: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: "Kdam Thmor Pro", sans-serif;
}

form {
  margin-top: 50px;
  color: #fff;
  font-family: "Kdam Thmor Pro", sans-serif;
  width: 50%;
  height: 500px;
  display: grid;
}

label {
  background: 0;
  height: 0;
}

input,
textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 20px 0 0 20px;
  margin-bottom: 15px;
  background-color: #f2ecd8;
  color: #000000;
  font-family: "Kdam Thmor Pro", sans-serif;
  border-radius: 5px;
  outline: #400c0c;
  border-color: #0c1440;
}

input {
  padding: 5px 0 5px 20px;
}

textarea {
  height: 300px;
}

.contatos-background {
  background-image: url(/proxy-image.jpg);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 800px;
}

section {
  width: 100%;
  height: 800px;
  padding-left: 150px;
  background: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.button-cv {
  width: 200px;
  height: 60px;
  background-color: #1629d2;
  color: #fff;
  padding: 8px 10px; /* padding em cima e em baixo */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top: 25px;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 768px) {
  .contatos-background {
    background-position: 22%;
  }

  section {
    width: 100%;
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
