@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  background-color: #000000;
  list-style: none;
  text-decoration: none;
}

header {
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  width: 60%;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

li {
  list-style: none;
  color: #f0f8ff;
  cursor: pointer;
  font-size: 19px;
  font-family: "Kdam Thmor Pro", sans-serif;
  transition: 0.5s;
}

li:hover {
  color: #0004ff;
}

#logo {
  width: 100px;
  height: auto;
}

#banner {
  background-image: url(../imgs/proxy-image.jpg);
  background-position: 60% 50%;
  background-size: cover;
  width: 100%;
  height: 600px;
}

# {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trailer {
  width: 50%;
}

#sinopse {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.description-container {
  width: 80%;
}

.description {
  color: #fff;
  font-size: 19px;
  font-family: "Kdam Thmor Pro", sans-serif;
  width: 70%;
}

.button {
  height: 272px;
  width: 186px;
  inset: 0px;
  color: transparent;
  background-image: url("../imgs/19729-cartaz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 8px 10px; /* padding em cima e em baixo */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top: 25px;
  margin-left: 100px;
}

  .tab-button {
    background-color: #007bff;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-size: 1.25rem;
  line-height: 1.75rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-right: 0.5rem ;
  margin-left: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid rgb(152 170 236);
    border-radius: .75rem;
}
.tabs {
  background-color: transparent;
  display: flex;
  justify-items: start;
  
}
.tab-button:hover {
  background-color: #0056b3
}
.video-tab {
    display: none; /* Hide by default */
}

/* Active Tab */
.tab-button.active {
  background-color: #0056b3;
}

.btn-contato button {
  width: 200px;
  height: 60px;
  background-color: #1629d2;
  color: #fff;
  padding: 8px 10px; /* padding em cima e em baixo */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top: 25px;
}

svg {
  background: transparent;
  opacity: 1;
  transition: 0.5s;
}
svg:hover {
  border-radius: 15px;
  opacity: 0.7;
}

.button:hover {
  background-color: #fff;
  color: #000000;
}

.actor-cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cards-content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  column-gap: 40px;
}

.card {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 20px 10px;
  color: #fff;
  font-size: 17px;
  font-family: "Kdam Thmor Pro", sans-serif;
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
}

.card:hover {
  transform: scale(1.02);
}

.banner1 {
  background-image: url(../imgs/ben-affleck-top-photo-3.jpg);
}

.banner2 {
  background-image: url(../imgs/0914891.webp);
}

.banner3 {
  background-image: url(../imgs/jason-momoa-attends-apple-tv-original-series-see-season-3-news-photo-1690826050.jpg);
}
.banner4 {
  background-image: url(../imgs/103350152-us-actor-ezra-miller-arrives-for-the-world-premiere-of-the-flash-at-ovation-hollywood-in-h.webp);
}
.banner5 {
  background-image: url(../imgs/171116-ray-fisher-ac-758p.webp);
}

footer {
  height: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

span {
  color: #fff;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.footer-navigation {
  display: none;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .footer-navigation {
    display: block;
  }

  nav {
    display: none;
  }

  #banner {
    background-position: 40%;
  }

  #trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  .trailer {
    width: 50%;
  }

  #sinopse {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  .description {
    width: 100%;
  }

  .button {
    width: 100%;
    margin-top: 30px;
  }

  .cards-content {
    grid-template-columns: 1fr;
    margin-top: 150px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.btn {
  padding: 25px 60px;
  display: inline;
  background-color: tomato;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.btn:hover {
  background-color: #ff4c2c;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  backdrop-filter: blur(4px);
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 1000;  
}

.modal {
  background-color: rgb(33 38 45 );
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
}


  .fechar {
    
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
   
  }



.modal h1 { 
  background-color: rgba(0, 124, 233, 0);
  color: #fff;
}

@keyframes animate-modal {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.modal-container.mostrar {
  display: flex;
}

.mostrar .modal {
  animation: animate-modal 0.3s;
}
.video-1 {
  padding-right: 10px;
  background-color: transparent;
}
.teste{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  gap: 312px;
}